*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}

.logo{
    display: inline-block;
    text-align: center;
    margin-left: 220px;
    vertical-align: top;
}

.critialPatientsDiv{
    margin-left: 528px;
    margin-top: 30px;
    height: 0;
}

.criticalPatients{
    margin-top: 60px;
    font-size: 20px;
}


.employeeDetailsDiv{
    margin-left: 350px;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.employeeDetails{
}

.tabletitleleft{
    font-weight: bold;
    margin-left: 450px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 30px;
}

.patienttableleft{
    box-shadow: 0px 10px 30px 5px rgb(0,0,0,.15);
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 300px;
    margin-top: 500px;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: steelblue;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 120px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 120px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .6s;
}

.sidebartoptext{
    color: red;
}

.sidebar ul a i{
    margin-right: 16px;    
}

ul li:hover a{
    padding-left: 50px;
}

/*Patient table */
.tablediv{
    margin-left: 178px;
    font-weight: 400;
}

.content-table {
    line-height: 70px;
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: 350px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #4682b4;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 3px solid #4682b4;
}